<% include ../views/partials/header %>


<div class="container text-center">
    <h1>OJOS VEN</h1>
    <div id="select_container">
        <div class="col-lg-6 input-group">
          <span class="input-group-btn">
            <button class="btn">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
          <input type="hidden" placeholder="Search by location or topic" id="select" class="search_input">
        </div>
    </div>
</div>


<% include ../views/partials/footer %>