<% include ../views/partials/header %>
<% include ../views/partials/navbar %>

  <div class="container-fluid container-timeline-slider">
    <script src="/javascripts/time-axis.js"></script>
    <div id="slider"></div>
    <div class="view-pane"></div>

  </div>

<% include ../views/partials/footer %>